
body {
  background-color: #fff8f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}


header {
  background-color: #ffe0e0;
  padding: 20px;
}

h1 {
  color: #b30000;
  font-size: 2em;
  margin: 0;
}


.cardapio {
  background-color: #ffe6eb;
  border: 2px solid #c9302c;
  border-radius: 8px;
  width: 60%;
  margin: 30px auto;
  padding: 15px;
}

.cardapio h2 {
  color: #b30000;
  font-size: 1.5em;
  border-bottom: 2px solid #b30000;
  display: inline-block;
  padding-bottom: 5px;
}


.conteudo {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.platos {
  background-color: #ffe6eb;
  border-radius: 6px;
  padding: 10px;
  width: 180px;
}

.platos img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d00000;
}

.platos p {
  margin-top: 8px;
  font-size: 1em;
  color: #000;
}

strong {
  color: #000;
}
